body {
    font-family: 'Saira Condensed', sans-serif;
    margin: 0px;
    width: 100%;
    padding: 0px;
    background-color: #f7f5f5;
}
li {
    display: inline-block;
    font-size: 30px;
    padding: 30px;
}

p {
    margin: 0;
}

ul {
    margin: 0 10%;
    padding: 2% 0 0;
}

.blue {
    color:#2d79ec;
}

.column {
    float: left;
}

.line {
    border-left: 4px solid #060609;
    height: 310px;
    margin-top: 5%;
    
}

.iconimg {
    width: 100px;
    height: 97.68px;
    position: relative;
    overflow: visible;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.iconimg:hover {
    transform: scale(1.1);
}
.shape {
    border-style: solid;
    border-color: #e83439;
    border-width: 5px 0 0 0;
    width: 69px;
    height: 0px;
    position: absolute;
    left: 743px;
    top: 80px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}
.link {
    font-size: 32px;
    margin-top: 300px;
    text-align: center;
    width: 28%;
}

.header {
    background-image: url(img/header-bg.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    width: 1340px;
    height: 600px;
}

.nav {
    float: right;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.nav:hover {
    color: #2d79ec;
    transform: scale(1.1);
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

#features {
    padding: 6% 3%;
    width: 33%;
}

#features-wrapper {
    margin-left: 10%;
    margin-right: 7%;
    margin-top: -20px;
}

#red {
    border-style: solid;
    border-color:#e83439;
    height: 80px;
    margin-top: 80px;
}


#title {
    font-size: 100px;
    line-height: 1;
    margin: 0 17.50%;
    padding: 4% 0 9%;
    text-align: center;
}

.section {
    box-sizing: border-box;
    background: #060609;
    width: 1340px;
    height: 550px;
    position: relative;
}
#holderwhite {
    background: #ffffff;
}
.line-1 {
    border-style: solid;
    border-color: #e83439;
    border-width: 5px 0 0 0;
    width: 69px;
    height: 0px;
    position: absolute;
    left: 743px;
    top: 80px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}
.line-2 {
    border-style: solid;
    border-color: #e83439;
    border-width: 5px 0 0 0;
    width: 69px;
    height: 0px;
    margin-top: 90px;
    margin-left: 10px;
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}
.our-reason-goal {
    color: #f7f5f5;
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    left: 771px;
    top: 73px;
    width: 445px;
    height: 103px;
}
.devfest-pic {
    width: 100%;
    margin-left: 150px;
    margin-top: 80px;
    width: 500px;
    height: 384px;
    position: absolute;
    box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

#textgoal {
    color: #ffffff;
    text-align: left;
    font-size: 25px;
    font-weight: 0;
    position: absolute;
    left: 770px;
    top: 170px;
    width: 400px;
    height: 226px;
}
.footer{
    box-sizing: border-box;
    background-image: url("img/footerbg.png");
    background-repeat: no-repeat;
    width: 1340px;
    height: 250px;
    position: absolute;
}

#teamtext {
    font-family: 'SairaCondensed-Bold', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0 17.50%;
    padding: 4% 0 9%;
    text-align: center;
}
    
#boxcol {
    width: 33%;
    float: left;
}

.rectanglepic {
    background: #d9d9d9;
    width: 300px; /* 328 */
    height: 200px; /* 293 */
    margin: auto; /* Add this line */
}
.recname {
    color: #000000;
    text-align: center;
    font-family: 'SairaCondensed-Regular';
    font-size: 25px;
    font-weight: 400;
    margin-top: 25px;
}
.recrole {
    color: #000000;
    text-align: center;
    font-family: 'SairaCondensed-Regular';
    font-size: 20px;
    font-weight: 100;
    margin-top: 5px;
}

#footerletter{
    text-align: left;
    font-family: 'SairaCondensed-Bold', sans-serif;
    font-size: 55px;
    line-height: 105.46%;
    font-weight: 700;
    position: relative;
    width: 455px;
    height: 148px;
}

#footertell {
    font-size: 35px;
    line-height: 1.1;
    margin: 3% 0 0 11.50%;
    text-align: left;
}

.mail {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    top: 6px;
}

.mailname {
    color: #ffffff;
    text-align: left;
    font-family: 'SairaCondensed';
    font-size: 15px;
    font-weight: 100;
    position: static;
    display: inline-block;
    margin-left: 10px;
}
.left {
    margin-top: 5px;
    margin-left: 12.0%;
}
.center {
    display: flex;
    align-items: center;
}
/* END: ed8c6549bwf9 */
