body {
    font-family: 'Saira Condensed', sans-serif;
    margin: 0px;
    width: 100%;
    padding: 0px;
    background-color: #f7f5f5;
}

.header {
    background-color: black;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav {
    float: right;
    color: #f5f5ff;
    font-weight: 300;
    font-size: 15px;
    margin-top: 35px;
    position: relative;
    text-decoration: none;
}

.nav:hover {
    text-decoration: underline;
    animation: underline-animation 0.3s ease-in-out;
    transition: text-decoration 0.3s ease-in-out;
}


.custom-section {
    background-color: #060609;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    position: relative;
}

.header li {
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
}

.header ul {
    padding: 1% 0 0;
    margin: 0 10%;
}

.goalholder {
    box-sizing: border-box;
    background: #060609;
    width: 1340px;
    height: 550px;
    position: relative;
}

.line-1 {
    border-style: solid;
    border-color: #e83439;
    border-width: 5px 0 0 0;
    width: 69px;
    height: 0px;
    position: absolute;
    left: 600px;
    top: 80px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}

.devfest-pic {
    width: 100%;
    margin-left: 150px;
    margin-top: 80px;
    width: 400px;
    height: 384px;
    position: absolute;
    box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.our-reason-goal {
    color: #f7f5f5;
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    left: 628px;
    top: 20px;
    width: 445px;
    height: 103px;
}

#textgoal {
    color: #ffffff;
    text-align: left;
    font-size: 25px;
    font-weight: 0;
    position: absolute;
    left: 628px;
    top: 130px;
    width: 555px;
    height: 226px;
}

.quote {
    font-family: "Saira-Regular";
    color: #f5f5f5d6; 
    font-weight: -10000; /* Lowered font weight */
    text-align: center; 
    font-size: 25px; 
    margin: 0 20%;
    margin-top: 50px;
    font-style: italic; 
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.social-icons a:hover {
    color: blue
}   

#mission {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    color: #f5f5ff;
    letter-spacing: 2px;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

.column  {
    width: 29%;
    padding: 20px;
    float: left;
    margin-top: -50px;
}

.h4-mod {
    color: #f5f5ff;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.p-mod {
    color: #f5f5ff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: -10px;
}

#h3-1 {
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
    color:#060609;
    letter-spacing: 2px;
}

.column-1  {
    width: 25%;
    float: left;
    padding: 30px;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
}

.icon:active {
    transform: scale(0.9);
}

.footer-info {
    color: #f5f5ff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 2px;
}